h1 {
	font-family: 'Anton', sans-serif;
	text-align: center;
	font-size: 75px;
}

.button {
	text-align: center;
	font-family: 'Anton', sans-serif;
	font-size: 60px;
}

.button1 {
	font-family: 'Anton', sans-serif;
	font-size: 60px;
	padding: 10px;
}

h3 {
	font-family: 'Lato', sans-serif;
	text-align: center;
	font-size: 20px;
}

.image {
	border: 1px solid black;
	height: 400px;
	width: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 50px;
}